
/*-----------------------------------------------------------------------------------*/
/* ABOUT - HOME PAGE */
/*-----------------------------------------------------------------------------------*/

.module-about {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 1.5rem solid $color-secondary;

  &::after {
    content: "";
    background-image: url('#{$assets-path}/img/emblem.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300%;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
  }

  @include media-breakpoint-up(sm) {
    padding-bottom: 6rem;

    &::after {
      display: block;
      background-position: 22rem center;
      background-size: cover;
    }

  }

  @include media-breakpoint-up(sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include media-breakpoint-up(md) {
    padding-top: 7rem;
    padding-bottom: 7rem;

    &::after {
      display: none;
    }

  }

  .about {

    &__emblem {

      img {
        margin: 0 0 0 -62px;
        height: auto;
        width: 85rem;
        max-width: none;

        @include media-breakpoint-up(lg) {
          margin: 0 0 0 -225px;
          height: auto;
          width: 70rem;
        }

        @include media-breakpoint-up(xl) {
          margin: 0 0 0 -6.5rem;
          height: auto;
          width: 72rem;
        }

        @include media-breakpoint-up(xxl) {
          margin: 0 0 0 -6rem;
          height: auto;
          width: 75rem;
        }

      }

    }

    &__text {

      @include media-breakpoint-up(lg) {
        background-color: $color-white;
      }

      h2 {
        margin-top: 0;
      }

      h4 {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        color: $color-grey;

        @include media-breakpoint-up(md) {
          font-size: 1.9rem;
        }

      }

    }

  }

  .btn {
    margin-top: 1.5rem;

    @include media-breakpoint-up(sm) {
      margin-top: 3rem;
    }

  }

}
