.action {
  border-top: 1rem solid $color-secondary;
  //background-color: $color-secondary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $color-secondary;
  background: -o-linear-gradient(0deg, $color-secondary 0%, $color-secondary 100%);
  background: linear-gradient(0deg, $color-secondary 0%, $color-secondary 100%);

  &__title {
    font-size: 3rem;
    font-weight: $weight-bold;
    text-transform: uppercase;
    color: $color-grey;

    @include media-breakpoint-up(sm) {
      font-size: 4rem;
    }

  }

  &__subtitle {
    font-size: 1.6rem;
    color: $color-grey;
    font-weight: $weight-regular;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2rem;
    }

  }

}

.page-template-contact-page {

  .action {
    display: none;
  }

}
