.module-breadcrumbs {
  border-bottom: 0.1rem solid $color-grey;

  ul {
    margin: 0;
    @include list-inline;

    li {
      color: $color-secondary;
      font-size: 1.4rem;
      font-weight: $weight-regular;

      &:not(:last-child) {

        &::after {
          position: relative;
          font-family: $fontawesome;
          font-weight: $weight-bold;
          display: inline-block;
          content: "\f105";
          vertical-align: middle;
          margin: 0 0.5rem 0 1rem;
          font-size: 1.7rem;
          color: $color-secondary;
          @include transition($transition-base-lg);
        }

      }

      strong {
        font-weight: $weight-regular;
      }

      a {
        color: $color-secondary-dark;
        font-weight: $weight-regular;
        //text-decoration: underline;
        @include transition($transition-base-lg);

        @include hover-focus {
          color: $color-grey;
        }

      }

    }

  }

}
