.comments {

  &__count {
    padding-top: 3rem;
    margin-top: 6rem;
    border-top: 0.2rem solid $color-grey;
  }

  &__list {
    @include list-unstyled;
    margin-bottom: 5rem;

    &.comment {

      &-respond {
        // margin: 4rem 0;
        background-color: $color-white;
        //padding: 2rem;
        //border-bottom: $border-width solid $color-grey;
        @include border-radius ($border-radius);
        //padding-bottom: 4rem;
        margin-bottom: 4rem;

        .comments__form__title {
          margin-top: 0;
        }

      }

      &-body {
        padding-bottom: 2.5rem;
        border-bottom: 0.1rem solid $color-grey;
        margin-bottom: 2rem;
        font-size: 1.7rem;

        a {
          text-decoration: none;

          time {
            color: $color-secondary;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-weight: $weight-bold;
          }

        }

      }

      &-content {

        p {
          margin-top: 1.5rem;
          margin-bottom: 2rem;
        }

      }

      .avatar {
        display: none;
      }

      &-edit-link {
        @include btn;
        @include btn-primary;
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 0 1rem;
        margin-left: 2rem;
        font-weight: $weight-bold;
        line-height: 2.5rem;
        height: 2.5rem;

        @include media-breakpoint-up(sm) {
          font-size: 1.1rem;
        }

      }

      .reply a {
        @include btn;
        color: $color-white;
        background-color: $color-secondary;
        border: $button-border-width solid $color-secondary;
        font-size: 1.1rem;
        text-transform: uppercase;
        // margin-left: 2rem;
        padding: 0 1rem;
        font-weight: $weight-bold;
        line-height: 2.5rem;
        height: 2.5rem;

        @include media-breakpoint-up(sm) {
          font-size: 1.1rem;
        }

        @include hover-focus {
          color: $color-white;
          background-color: $color-black;
          border: $button-border-width solid $color-black;
        }

      }

    }

  }


  &__form {
    font-size: 1.7rem;

    &__cancel {

      a {
        @include btn;
        @include btn-danger;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-left: 2rem;
        padding: 0 1rem;
        font-weight: $weight-bold;
        line-height: 2.5rem;
        height: 2.5rem;

        @include media-breakpoint-up(sm) {
          font-size: 1.1rem;
        }

      }

    }

    input[type=submit] {
      padding: 1.8rem 3.5rem;
    }

  }

}

.comment-navigation {
  @include make-col-ready();
  @include make-col(12);

  .nav-links {
    @include make-row;
  }

  .nav-previous, .nav-next {
    @include make-col-ready();
    @include make-col(12);
    padding: 0;
    margin: 0.5rem 0;

    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }

    a {
      position: relative;
      display: inline-block;
      min-width: 18rem;
      text-align: center;
      padding: 1.4rem 2.3rem;
      font-size: 1.6rem;
      line-height: 1.25;
      //text-transform: uppercase;
      text-decoration: none;
      // font-family: $opensans;
      font-weight: $weight-bold;
      color: $color-white;
      background-color: $color-secondary;
      border: $button-border-width solid $color-secondary;
      @include transition(all 0.3s ease);

      @include hover-focus {
        color: $color-white;
        background-color: $color-black;
        border: $button-border-width solid $color-black;
      }

      @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
      }

    }

  }

  .nav {

    &-next {
      text-align: center;

      @include media-breakpoint-up(sm) {
        text-align: right;
      }

    }

    &-previous {
      text-align: center;

      @include media-breakpoint-up(sm) {
        text-align: left;
      }

    }

  }

}
