
.module-contact {
  font-size: 1.6rem;

  abbr {
    display: inline-block;
    width: 2.5rem;
    text-align: center;
    margin-right: 1rem;
    color: $color-secondary;
  }

  a {
    color: $color-primary;
    font-weight: $weight-bold;
    @include transition($transition-base-lg);

    @include hover-focus {
      color: $color-grey;
    }

  }

}
