
/*-----------------------------------------------------------------------------------*/
/* FLOWCHART - SERVICE PAGE */
/*-----------------------------------------------------------------------------------*/

.module-flowchart {

  &__title {
    font-size: 2.4rem;

    @include media-breakpoint-up(sm) {
      font-size: 2.8rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 3rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 3.5rem;
    }

  }

  a {
    color: $color-white;

    @include hover-focus {
      color: $color-primary-dark;
    }

  }

  .question {
    text-align: center;

    &__text {
      display: inline-block;
      background-color: $color-white;
      color: $color-secondary;
      text-align: center;
      font-size: 1.8rem;
      line-height: 1.5;
      padding: 1.5rem 3rem;
      @include border-radius ($border-radius);

      @include media-breakpoint-up(sm) {
        font-size: 2rem;
        padding: 2rem 3.5rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 2.3rem;
      }

      p {
        margin-bottom: 1rem;

        @include media-breakpoint-up(sm) {
          margin-bottom: 1.5rem;
        }

        &:last-child {
          margin: 0;
        }

      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          &::before {
            position: relative;
            content: '•';
            display: inline-block;
            margin-right: 1rem;
          }

        }

      }

    }

    &__divider {
      font-size: 1.9rem;
      margin: 2rem 0;
    }

  }

  &__chart {

    @include hover-focus {

      .question {

        &__text {
          opacity: 0.5;
          @include transition($transition-base-lg);

          @include hover-focus {
            opacity: 1;
          }

        }

      }

    }

  }

}
