
/*-----------------------------------------------------------------------------------*/
/* HERO */
/*-----------------------------------------------------------------------------------*/

.module-hero {
  background-repeat: no-repeat;
  background-position: center;
  @include background-size (cover);
  padding: 0;
  margin: 0;
  position: relative;
  //border-bottom: 1.5rem solid $color-grey;
  overflow: hidden;

  &--dark {
    background-color: $color-primary;

    .hero {

      &__title {
        color: $color-grey;
        margin-bottom: 2rem;
        font-size: 3.5rem;

        @include media-breakpoint-up(sm) {
          font-size: 3.8rem;
        }

        @include media-breakpoint-up(md) {
          font-size: 5.4rem;
        }

        @include media-breakpoint-up(xxl) {
          font-size: 6.5rem;
        }

        &--no-subtitle {
          margin: 0;
        }

      }

      &__subtitle {
        color: $color-grey;
      }

      &__meta {
        font-size: 1.3rem;
        //text-transform: uppercase;
        font-weight: $weight-semibold;

        @include media-breakpoint-up(sm) {
          font-size: 1.6rem;
        }

        i {
          color: $color-secondary;
          margin-right: 0.5rem;
        }

      }

      &__category-list {
        display: inline-block;

        ul {
          @include list-inline;
          margin-bottom: 0;
          display: inline-block;

          li {

            &:not(:last-child) {

              &::after {
                display: inline-block;
                content: '';
                background: $color-secondary;
                width: 0.5rem;
                height: 0.5rem;
                margin: 0 0 0.2rem 1rem;
                @include border-radius (50%);
              }

            }

            a {
              color: $color-grey;
              font-weight: $weight-semibold;
              @include transition($transition-base-lg);

              @include hover {
                text-decoration: none;
                color: $color-secondary;
              }

            }

          }

        }

      }

      &__date {
        color: $color-grey;
        display: inline-block;
        margin-left: 2rem;
      }

    }

  }

  &--light {
    background-color: $color-grey-200;

    .hero {

      &__title {
        color: $color-grey;
        margin-bottom: 3rem;

        &--no-subtitle {
          margin: 0;
        }

      }

      &__subtitle {
        color: $color-grey;
      }

    }

  }

}
