
// .media {
//   position: relative;

//   &__thumbnail {
//     height: auto;

//     @include media-breakpoint-up(md) {
//       height: 40rem;
//       overflow: hidden;
//     }

//     @include media-breakpoint-up(lg) {
//       height: 40rem;
//     }

//     @include media-breakpoint-up(xl) {
//       height: 50rem;
//     }

//     img {
//       margin: 0;
//     }

//   }

// }

.media {
  position: relative;

  .gallery {
    overflow: hidden;

    &-item {
      margin: 0;
    }

  }

}
