.module-news {
  position: relative;
  overflow: hidden;
  padding-top: 10rem;
  padding-bottom: 10rem;

  @include media-breakpoint-up(xl) {
    padding-top: 19rem;
    padding-bottom: 11rem;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20rem;
    content: '';
    display: block;
    background-color: $color-primary;
  }

  .shape-oval {
    position: absolute;
    top: -16rem;
    left: 50%;
    @include transform (translateX(-50%));
    width: 180rem;
    height: 180rem;
    fill: $color-grey;
    z-index: 0;

    @include media-breakpoint-up(sm) {
      top: -37rem;
      width: 350rem;
      height: 350rem;
    }

    @include media-breakpoint-up(xl) {
      top: -43rem;
      width: 400rem;
      height: 400rem;
    }

  }

}
