.module-pagination {
  margin-top: 4rem;
  margin-bottom: 4rem;

  @include media-breakpoint-up(md) {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;

    li {
      list-style: none;

      .page-link {
        position: relative;
        display: block;
        min-width: 4rem;
        text-align: center;
        padding: 1.2rem 2rem;
        margin-left: -0.1rem;
        font-size: 1.6rem;
        line-height: 1.4;
        //text-transform: uppercase;
        text-decoration: none;
        //font-family: $opensans;
        font-weight: $weight-semibold;
        color: $color-white;
        background-color: $color-grey;
        border: $border-width solid $color-grey-200;
        @include transition(all 0.3s ease);

        &:not(:disabled):not(.disabled) {
          cursor: pointer;
        }

        @include hover {
          color: $color-grey;
          text-decoration: none;
          background-color: $color-secondary;
        }

        &.active {
          color: $color-white;
          background-color: $color-grey;
          cursor: not-allowed;
        }

      }

      &.active {

        .page-link {
          color: $color-white;
          background-color: $color-grey;
          cursor: not-allowed;
        }

      }

      &:first-child .page-link {
        margin-left: 0;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child .page-link {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

    }

  }

}
