.module-partners {

  .partner {
    // padding-top: 1rem;
    margin-bottom: 3.5rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: 4rem;
    }

    &__link {
      display: inline-block;
    }
    
    &__img {
      margin: 0;
      max-width: 88%;

      @include media-breakpoint-up(sm) {
        max-width: 100%;
      }

    }

  }

}