$portal-aside-width: 22rem;

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: $portal-aside-width;
  height: 100%;
  z-index: $z-index-fixed;
}

.view {
  margin-left: $portal-aside-width;
  overflow: hidden;
}