/*-----------------------------------------------------------------------------------*/
/* MIXINS */
/*-----------------------------------------------------------------------------------*/

@mixin post {

  .post {
    position: relative;
    display: block;
    padding-bottom: 3rem;
    text-decoration: none;
    background: $color-white;
    @include transition($transition-base-lg);

    @include media-breakpoint-up(lg) {
      padding-bottom: 5rem;
    }

    &__media {
      height: 100%;
      width: 100%;
      display: block;
      overflow: hidden;

      @include media-breakpoint-up(lg) {
        height: 25rem;
      }

      @include media-breakpoint-up(xl) {
        height: 30rem;
      }

    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include transition(all 0.8s ease-in-out);

      img {
        display: none;
        visibility: hidden;
      }

    }

    &__body {
      padding-top: 3rem;
      padding-bottom: 3rem;

      // @include media-breakpoint-down(md) {
      //   padding-left: 2.5rem !important;
      //   padding-right: 2.5rem !important;
      // }

      @include media-breakpoint-up(lg) {
        padding-bottom: 6rem;
      }

    }

    &__title {
      color: $color-grey;
      font-size: 2.3rem;
      font-weight: $weight-regular;
      @include transition($transition-base-lg);

      @include media-breakpoint-up(sm) {
        font-size: 2.4rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2.8rem;
      }

      @include media-breakpoint-up(xl) {
        font-size: 2.9rem;
      }

    }

    &__meta {
      font-size: 1rem;
      color: $color-grey;
      font-weight: $weight-regular;
      text-transform: uppercase;
      padding-bottom: 2rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.2rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.3rem;
      }

      i {
        color: $color-secondary;
        margin-right: 0.5rem;
      }

    }

    &__cat {
      display: block;

      @include media-breakpoint-up(lg) {
        display: inline-block;
      }

    }

    &__date {
      display: block;

      @include media-breakpoint-up(lg) {
        display: inline-block;
        margin-left: 2rem;
      }

    }

    &__text {
      color: $color-grey;
      font-size: 1.4rem;
      @include transition($transition-base-lg);

      @include media-breakpoint-up(md) {
        font-size: 1.6rem
      }

      p:last-child {
        margin-bottom: 0;
      }

    }

    &__btn {
      @include btn;
      font-size: 1.2rem;
      padding: 1.8rem 0 0;
      color: $color-grey;

      i {
        display: inline-block;
        margin-left: 1rem;
        color: $color-grey;
      }

      @include media-breakpoint-up(md) {
        font-size: 1.3rem;
      }

      @include media-breakpoint-up(lg) {
        padding: 1.8rem 0;
        font-size: 1.4rem;
      }

    }

    &__footer {
      position: absolute;
      bottom: 0;
    }

  }

}


/* --------------------- GLOBAL HOVER --------------------- */

@mixin post-hover {

  .post {

    &__img {
      @include transform (scale(1.1));
    }

    a {
      text-decoration: none;
    }

  }

}


/*-----------------------------------------------------------------------------------*/
/* STYLES */
/*-----------------------------------------------------------------------------------*/

.post--default {
  @include post;

  @include hover {
    @include post-hover;
  }

}


/*-----------------------------------------------------------------------------------*/
/* POST - SERVICES */
/*-----------------------------------------------------------------------------------*/

.post--services {
  @include post;
  background: transparent;
  @include transition-base;
  padding-bottom: 4rem;

  @include media-breakpoint-up(sm) {
    padding-bottom: 6rem;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 8rem;
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 9rem;
  }

  a {
    text-decoration: none;
    background: $color-secondary; 
    color: $color-grey; 
    @include transition-base;
    @include border-radius (0.8rem);
    overflow: hidden;
    // background: linear-gradient(0deg, rgba($color-primary, 1) 0%, rgba($color-secondary, 1) 100%);
    // background: linear-gradient(0deg, rgba($color-primary, 1) 0%, rgba($color-secondary, 1) 100%);
    // background-repeat: repeat-x;
  }
  
  .post {

    &__media {
      height: 17rem;

      @include media-breakpoint-up(lg) {
        height: 25rem;
      }

      @include media-breakpoint-up(xl) {
        height: 27rem;
      }

    }

    &__body {
      padding-bottom: 13rem;
      background-color: $color-secondary;
      background: -o-linear-gradient(0deg, $color-secondary 0%, $color-primary 100%);
      background: linear-gradient(0deg, $color-secondary 0%, $color-primary 100%);
    }

    &__title {
      color: $color-grey; 
      font-weight: $weight-semibold;
      // text-transform: uppercase;
    }

    &__text {
      color: $color-grey;
      font-weight: $weight-regular;
      font-size: 1.7rem;
      line-height: 1.6; 
    }

    &__footer {
      position: absolute;
      bottom: 3rem;
    }

    // &:nth-child(1) {
      
    //   .post__body {
    //     background: $color-primary; 
    //   }
      
    // }

    // &:nth-child(2) {
      
    //   .post__body {
    //     background: $color-secondary; 
    //   }

    // }

    // &:nth-child(3) {
      
    //   .post__body {
    //     background: $color-secondary; 
    //   }

    // }

  }

  @include hover {
    @include post-hover;
    @include transform (translateY(-0.2rem));
    @include transition-base;

    a {
      @include box-shadow (0 1rem 2.5rem -1rem rgba($color-grey,0.5)); 
    }

  }

}