.price {
  position: relative;
  @include transition-base;

  &__inner {
    border-width: 1rem 0.1rem 0.1rem; 
    border-style: solid;
    @include transition-base;

    > a {
      text-decoration: none;
    }

  }

  &:nth-child(1) {

    .price__inner {
      border-color: $color-primary;     
    }
    
  }

  &:nth-child(2) {

    .price__inner {
      border-color: $color-secondary;
    }
    
  }

  &:nth-child(3) {

    .price__inner {
      border-color: $color-gamma;
    }
    
  }

  @include hover-focus { 
    
    @include transform (translateY(-1rem));

    .price__inner {
      @include shadow-5;
    }

    &:nth-child(1) {

      .price__inner {
        border-color: lighten($color-primary, 5%);
      }
      
    }
  
    &:nth-child(2) {
  
      .price__inner {
        border-color: lighten($color-secondary, 5%);
      }
      
    }
  
    &:nth-child(3) {
  
      .price__inner {
        border-color: lighten($color-gamma, 5%);
      }
      
    }

  }

}