/*-----------------------------------------------------------------------------------*/
/* TOGGLE BUTTON */
/*-----------------------------------------------------------------------------------*/

@mixin toggle {
  display: inline-block;
  background-image: none;
  filter: primary(opacity=100);
  opacity: 1;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  border-color: transparent;
  text-decoration: none;

  @include hover {
    outline: 0;
    outline-offset: 0;
    text-decoration: none;
  }

}

.toggle {
  @include toggle;
}

.toggle {

  &--search {
    padding: 0;
    height: 3.5rem;
    width: 3.5rem;
    line-height: 0;
    font-size: 1.5rem;
    text-indent: -0.05rem;
    color: $color-white;
    background: $color-primary;
    @include border-radius (50%);

    @include hover {
      color: $color-white;
      background: $color-secondary;
    }

    @include focus {
      color: $color-white;
      background: $color-secondary;
    }

    .toggle__icon {
      vertical-align: middle;

      &:before {
        content: '\f002'
      }

    }

    &.active {

      .toggle__icon {

        &:before {
          content: '\f00d'
        }

      }

    }

  }

}


/*-----------------------------------------------------------------------------------*/
/* SEARCH MODULE */
/*-----------------------------------------------------------------------------------*/

@mixin search-btn {
  padding: 1.8rem;
  line-height: 1;
  color: $color-white;
  background: $color-primary;
  font-size: 1.4rem;
  
  @include media-breakpoint-up(lg) { 
    padding: 1.6rem 2.5rem;
    font-size: 1.5rem;
  }

  i {
    color: $color-secondary;
    margin-right: 0.7rem;
    @include transition-base;

    @include media-breakpoint-up(md) {
      color: $color-secondary;
      margin-right: 1rem;
    }

  }
  
}

@mixin search-btn-hover {
  color: $color-white;
  background: $color-secondary;

  i {
    color: $color-white;
  }
  
}

.search {

  .btn {

    &--search {
      @include search-btn;

      @include hover-focus {
        @include search-btn-hover;
      }

    }

  }

  .input-group-append {

    .btn-default {

      @include media-breakpoint-down(sm) {
        padding: 1.6rem 3rem;
      }

      @include hover-focus {
        box-shadow: none;
        @include transform (none);
      }

    }

  }

}


/*-----------------------------------------------------------------------------------*/
/* SEARCH MODULE - HEADER */
/*-----------------------------------------------------------------------------------*/

.search {

  &--header {
    background: $color-grey;
    display: block;
    max-height: 0;
    overflow: hidden;
    @include transition(max-height 1s ease);

    .input-group-append {
      margin-left: 0;
    }

    .search__form {
      padding: 0.5rem 0;
      opacity: 0;
      @include transition(opacity 0.5s ease);
      @include transition-delay (0.5s);

      @include media-breakpoint-up(md) {
        padding: 1.5rem 0;
      }

      .form-control {
        border: 0;
        padding: 0;
        background: $color-grey;
        color: $color-white;
        font-family: $form-font;
        font-size: 1.6rem;

        @include media-breakpoint-up(md) {
          font-size: 2rem;
        }

        @include placeholder {
          color: $color-grey;
        }

      }

      .btn-search {
        @include border-radius($button-border-radius);

        @include media-breakpoint-down(sm) {
          padding: 0;
          width: 4.5rem;
          height: 4.5rem;
          @include border-radius(50%);
        }

        span {
          display: none;

          @include media-breakpoint-up(md) {
            display: inline-block;
          }

        }

        &::after {
          display: none;
        }

      }

    }

    &.active {
      max-height: 10rem;
      overflow: visible;

      @include media-breakpoint-down(md) {
        display: none;
      }
      
      .search__form {
        opacity: 1;
      }

    }

  }

  &--mobile {

    .search__form {

      .form-control {
        border-color: $color-primary;
      }

    }

    .btn-search { 
      @include border-radius(0);
    }

  }

}
