$attribute-size-lg: 23rem;
$attribute-size-md: 20rem;
$attribute-size-xs: 18rem;    

.solutions {
  position: relative;
  background-color: $color-primary;

  @include media-breakpoint-up(lg) {
    background-attachment: fixed !important;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $color-primary;
    background: -o-linear-gradient(0deg, rgba($color-secondary, 0.9) 0%, rgba($color-primary, 0.9) 100%);
    background: linear-gradient(0deg, rgba($color-secondary, 0.9) 0%, rgba($color-primary, 0.9) 100%);
  }
  
  .solution {

    @include media-breakpoint-down(lg) {
      
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
      
    }

    @include media-breakpoint-down(md) {
      
      &:not(:last-child) {
        margin-bottom: 7rem;
      }
      
    }

    @include media-breakpoint-down(sm) {
      
      &:not(:last-child) {
        margin-bottom: 5rem;
      }
      
    }

    &__media {
      position: relative;

      &::before {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform (translate(-50%, -50%));
        content: '';
        background-color: $color-secondary;
        // background-color: $color-astral;
        z-index: 0;
        @include border-radius (50%);
        height: calc(#{$attribute-size-xs} + 1.5rem);
        width: calc(#{$attribute-size-xs} + 1.5rem);

        @include media-breakpoint-up(md) {
          height: calc(#{$attribute-size-md} + 1.5rem);
          width: calc(#{$attribute-size-md} + 1.5rem);
        }

        @include media-breakpoint-up(lg) {
          height: calc(#{$attribute-size-lg} + 1.5rem);
          width: calc(#{$attribute-size-lg} + 1.5rem);
        }
      }

    }

    &__img {
      position: relative;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 0.8rem solid $color-white;
      overflow: hidden;
      margin: 0 auto;
      @include border-radius (50%);
      height: $attribute-size-xs;
      width: $attribute-size-xs;

      @include media-breakpoint-up(md) {
        height: $attribute-size-md;
        width: $attribute-size-md;
      }

      @include media-breakpoint-up(lg) {
        height: $attribute-size-lg;
        width: $attribute-size-lg;
      }

      img {
        display: none;
      }

    }

    &__title {
      font-size: 2rem;

      @include media-breakpoint-up(lg) {
        font-size: 2.6rem;
      }

    }

  }

}