
/*-----------------------------------------------------------------------------------*/
/* PROCESS */
/*-----------------------------------------------------------------------------------*/

.success {
  position: relative;

  &__icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 8rem;
    width: 8rem;
    line-height: 6.5rem;
    text-indent: 0.1rem;
    border-width: 0.1rem;
    border-style: solid;
    @include border-radius (50%); 
    background: $color-delta;
    // border-color: lighten($color-delta, 15%);
    // background: rgba($color-delta, 0.2);
    border-color: lighten($color-delta, 15%);

    @include media-breakpoint-up(md) {
      height: 9rem;
      width: 9rem;
      line-height: 7.4rem;
    }

  }

  &__icon-email {
    width: 4.2rem;
    height: 4.4rem;
    fill: $color-white;

    @include media-breakpoint-up(md) {
      width: 4.7rem;
      height: 4.9rem;
    }

  }

}