.testimonial {

  &__text {
    font-size: 1.7rem;
    font-weight: $weight-regular;
    color: $color-grey;

    @include media-breakpoint-up(sm) {
      font-size: 1.8rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }

  }

  &__author {
    
  }

}
