<header class="col-12 pb-6">
  <h1 class="display-4 m-0">{{title}}</h1>
</header>

<article class="col-12">

  <div class="card">

    <div class="card-header">
      <div class="row align-items-center">

        <div class="col-auto">

          <form>
            <div class="form-group row align-items-baseline m-0">
              <label for="staticEmail2" class="col-sm-4">Sort</label>
              <div class="col">
                <select class="form-control" style="width: 100%">
                  <option label="Customer A-Z" value="1">Customer A-Z</option>
                  <option label="Customer Z-A" value="2">Customer Z-A</option>
                  <option label="Oldest" value="5" selected="selected">Oldest</option>
                  <option label="Most Recent" value="6">Most Recent</option>
                </select>
              </div>
            </div>
          </form>

        </div>

        <div class="col">

          <form class="row align-items-center no-gutters">
            <div class="input-group">
              <input type="text" class="form-control" name="search" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-secondary input-group-append-btn" type="button" id="searchSubmit"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>

        </div>

        <div class="col-auto text-right">
          <button class="btn btn-secondary" type="button">Add new domain</button>
        </div>

      </div> 
    </div>

    <div class="card-body p-0">

      <div class="table-responsive-md">
        <table class="table table-striped" >
          <thead>
            <tr>
              <th>Domain</th>
              <th>Status</th>
              <th>Language</th>
              <th>Script Tag</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title="Domain">critical.media</td>
              <td data-title="Status"><span class="badge badge-info">Scheduled</span></td>
              <td data-title="Language">English (UK)</td>
              <td data-title="Script Tag">&nbsp;</td>
              <td data-title="" class="text-right"><button class="btn btn-primary" type="button">Manage</button></td>
            </tr>
            <tr>
              <td data-title="Domain">gardentags.com</td>
              <td data-title="Status"><span class="badge badge-progress">In progress</span></td>
              <td data-title="Language">English (US)</td>
              <td data-title="Script Tag">&nbsp;</td>
              <td data-title="" class="text-right"><button class="btn btn-primary" type="button">Manage</button></td>
            </tr>
            <tr>
              <td data-title="Domain">critical.media.co.uk</td>
              <td data-title="Status"><span class="badge badge-danger">Failed</span></td>
              <td data-title="Language">French</td>
              <td data-title="Script Tag">&nbsp;</td>
              <td data-title="" class="text-right"><button class="btn btn-primary" type="button">Manage</button></td>
            </tr>
            <tr>
              <td data-title="Domain">critical.media.com</td>
              <td data-title="Status"><span class="badge badge-success">Complete</span></td>
              <td data-title="Language">English (UK)</td>
              <td data-title="Script Tag">
                <button class="btn btn-primary btn-sm d-inline-block" type="button">Copy</button>
              </td>
              <td data-title="" class="text-right">
                <button class="btn btn-primary" type="button">Manage</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</article>