<header class="col-12 pb-6">
  <h1 class="display-4 m-0">{{title}}</h1>
</header>

<article class="col-12">

  <div class="card" ng-controller="ordersCtrl">

    <div class="card-header">
      <div class="row align-items-center">

        <div class="col-auto">

          <select class="form-control" name="bulkSelect" ng-model="data.bulkSelect">
            <option value="paid">Paid</option>
            <option value="canceled">Canceled</option>
            <option value="archive">Archive</option>
            <option value="delete">Delete</option>
          </select>

          <!-- <div class="btn-group" uib-dropdown is-open="status.isopen" >
            <button id="bulkAction" type="button" class="btn btn-secondary" uib-dropdown-toggle >
              Bulk action <span class="caret"></span>
            </button>
            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="bulkAction">
              <a href="#" class="dropdown-item">Paid</a>
              <a href="#" class="dropdown-item">Canceled</a>
              <a href="#" class="dropdown-item">Archive</a>
              <a href="#" class="dropdown-item">Delete</a>
            </div>
          </div> -->

        </div>

        <div class="col">

          <form class="row align-items-center no-gutters">
            <div class="input-group">
              <input type="text" class="form-control" name="search" placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-secondary input-group-append-btn" type="button" id="searchSubmit"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </form>

        </div>

        <div class="col-auto text-right">
          <button class="btn btn-primary" type="button">Add new order</button>
        </div>

      </div> 
    </div>

    <div class="card-body p-0">

      <div class="table-responsive-md">
        <table class="table" >
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Created</th>
              <th>Order ID</th>
              <th>Status</th>
              <th>Customer</th>
              <th>Total</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-title=""><input type="checkbox" name="bulkSelect" id="bulkSelect" value="true"></td>
              <td data-title="Created">10/10/2019 13:40</td>
              <td data-title="Order Id">201</td>
              <td data-title="Status"><span class="badge badge-pending">Pending</span></td>
              <td data-title="Customer">Joe Bloggs</td>
              <td data-title="Customer">£52.80</td>
              <td data-title="" class="text-md-right">
                <button class="btn btn-primary" type="button" ng-click = "newOrderModal()">Manage</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="card-footer">
      <div class="row align-items-center">
        <div class="col-auto">
          <ul uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul>
        </div>
        <div class="col-auto text-right">
          <select class="form-control" name="resultSelect" ng-model="data.resultSelect">
            <option value="all">All</option>
            <option selected value="20">20</option>
            <option value="50">50</option>
            <option value="80">80</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</article>