.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $card-background-color;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  border-radius: $card-border-radius;

  &-header {
    padding: $card-padding;
    margin-bottom: 0;
    border-bottom: $card-border-width solid $card-border-color;

    &:first-child {
      // border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }

  }

  &-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: $card-padding;
  }

  &-footer {
    padding: $card-padding;
    border-top: $card-border-width solid $card-border-color;

    // &:last-child {
    //   border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    // }

  }

  .table {
    margin-bottom: 0;

    thead tr {
      border-top: 0;
    }

  }

}