
/*-----------------------------------------------------------------------------------*/
/* STOP BODY SCROLL ON OPEN MODAL */
/*-----------------------------------------------------------------------------------*/

.modal-open {
  overflow: hidden;

  .modal {
    overflow-x: hidden;
    overflow-y: auto;
  }

}


/*-----------------------------------------------------------------------------------*/
/* MODAL CONTAINER */
/*-----------------------------------------------------------------------------------*/

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal;
  display: none;
  overflow: hidden;
  outline: 0;

  &--full {
    background-color: $color-primary;
  }

}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 2rem;
  pointer-events: none;

  @include media-breakpoint-up(md) {
    max-width: 60rem;
    margin: 8rem auto;
  }

}

.modal.fade .modal-dialog {
  @include transition($transition-base-lg);
  @include transform(translate(0, -25%));
}

@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  @include transform(translate(0, 0));
}


// .fade:not(.show) {
//   opacity: 0;
// }

// .fade {
//   @include transition(opacity .15s linear);
// }


/*-----------------------------------------------------------------------------------*/
/* MODAL OVERLAY */
/*-----------------------------------------------------------------------------------*/

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-modal-backdrop;
  background: rgba($color-grey, 0.8);
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.in {
  opacity: 1;
}


/*-----------------------------------------------------------------------------------*/
/* MODAL CLOSE */
/*-----------------------------------------------------------------------------------*/

.modal__btn-close {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 3.2rem;
  height: 100%;
  color: $color-grey;
  text-transform: uppercase;
  font-weight: $weight-bold;
  @include transition ($transition-base-lg);

  @include hover-focus {
    color: $color-grey;
  }

}


/*-----------------------------------------------------------------------------------*/
/* MODAL CONTENT */
/*-----------------------------------------------------------------------------------*/

.modal__content {
  position: relative;
  background-color: $color-white;
  @include flexbox;
  @include flex-direction (column);
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  @include border-radius ($border-radius);
  outline: 0;
}


/*-----------------------------------------------------------------------------------*/
/* MODAL HEADER */
/*-----------------------------------------------------------------------------------*/

.modal__header {
  position: relative;
  @include flexbox;
  @include align-items (center);
  @include justify-content (space-between);
  padding: 1.5rem;
  border-bottom: 0.1rem solid $color-grey;

  .modal__title {
    margin-bottom: 0;
  }

}


/*-----------------------------------------------------------------------------------*/
/* MODAL BODY */
/*-----------------------------------------------------------------------------------*/

.modal__body {
  position: relative;
  @include flex (1 1 auto);
  padding: 1.5rem;
}


/*-----------------------------------------------------------------------------------*/
/* MODAL FOOTER */
/*-----------------------------------------------------------------------------------*/

.modal__footer {
  @include flexbox;
  @include align-items (center);
  @include justify-content (flex-end);
  padding: 1.5rem;
  border-top: 0.1rem solid $color-grey;
}

.modal__footer > :not(:first-child) {
  margin-left: 0.25rem;
}

.modal__footer > :not(:last-child) {
  margin-right: 0.25rem;
}
