
/*-----------------------------------------------------------------------------------*/
/* XXXXXXXXX */
/*-----------------------------------------------------------------------------------*/

/* --------------------- XXXXXXXX --------------------- */

/* ----- xxxxxxx ----- */

/*-----------------------------------------------------------------------------------*/
/* ASSETS */
/*-----------------------------------------------------------------------------------*/

$assets-path: "/assets";

// background-image: url('#{$assets-path}/img/xxxxx');

$fontawesome: 'FontAwesome', sans-serif;
$opensans: 'Open Sans', arial, sans-serif;

$body-font-family: $opensans !default;

$theme-color: #56366b !default;

html{
    font-family: sans-serif;
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

// $color-outline: #222222 !default;

// :focus, [type=file]:focus, [type=checkbox]:focus, [type=radio]:focus {
//     outline-color: transparent;
//     outline-style: none;
//     outline: none;
//     outline-offset: 0;
// }

// *:focus {
//     outline: none;
//   outline: 0;
//   outline: -webkit-focus-ring-color 0;
//   border-color: inherit;
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }

// [tabindex="-1"]:focus {
//     outline: none !important;
// }

// :focus:not(:focus-visable) {
//     outline: none;
// }

// $link-focus-outline: 0.1rem dotted $color-outline !default;

// a:focus,
// button:focus {
//     outline: $link-focus-outline;
//   text-decoration: none;
// }


/*-----------------------------------------------------------------------------------*/
/* SELECTION VARIABLES */
/*-----------------------------------------------------------------------------------*/

@mixin selection {
    background-color: $theme-color;
    color: #ffffff;
  }
  
  ::selection {
    @include selection;
  }
  
  ::-moz-selection {
    @include selection;
  }