<div class="card" ng-controller="productsTableCtrl">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-auto">
        <div class="form-row align-items-center no-gutters">
          <div class="col-auto">
            <select class="form-control" name="bulkSelect">
              <option value="" disabled selected>Bulk action</option>
              <option value="paid">Paid</option>
              <option value="canceled">Canceled</option>
              <option value="archive">Archive</option>
              <option value="delete">Delete</option>
            </select>
          </div>
          <div class="col-auto">
            <button class="btn btn-secondary" type="button">Apply</button>
          </div>
        </div>
      </div>
      <div class="col">
        <form class="row align-items-center no-gutters">
          <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-secondary input-group-append-btn" type="button" id="searchSubmit"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-auto text-right">
        <button class="btn btn-primary" type="button">Add new product</button>
      </div>
    </div> 
  </div>
  <div class="card-body p-0">
    <div class="table-responsive-md">
      <table class="table mb-0" >
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th ng-click="sortColumn('id')" ng-class="sortClass('id')" class="sort"><span class="sort-icons"></span>SKU</th>
            <th>Name</th>
            <th>Size</th>
            <th>Categories</th>
            <th>Stock</th>
            <th>Price</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in products.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))|orderBy:column:reverse">
            <td data-title=""><input type="checkbox" name="bulkSelect" id="bulkSelect" value="true"></td>
            <td data-title="SKU">{{product.sku}}</td>
            <td data-title="Name">{{product.name}}</td>
            <td data-title="Size">{{product.size}}</td>
            <td data-title="Categories">{{product.categories}}</td>
            <td data-title="Stock">{{product.stock}}</td>
            <td data-title="Price">£{{product.price}}</td>
            <td data-title="" class="text-md-right">
              <button class="btn btn-primary" type="button" ng-click = "newOrderModal()">Manage</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <ul 
          uib-pagination
          class="pagination m-0"
          total-items="totalItems" 
          ng-model="currentPage"
          ng-change="pageChanged()"
          items-per-page="itemsPerPage"
          previous-text="&lsaquo;" 
          next-text="&rsaquo;" 
        >
        </ul>
      </div>
      <div class="col-auto">
        <div class="form-group row">
          <label class="col-auto col-form-label">Show</label>
          <div class="col-auto">
            <select class="form-control" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>