@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-light.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-light.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-light.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-light.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-light.svg#aileron-light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-light-italic.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-light-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-light-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-light-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-light-italic.svg#aileron-light-italic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-regular.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-regular.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-regular.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-regular.svg#aileron-regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-italic.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-italic.svg#aileron-italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-semibold.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-semibold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-semibold.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-semibold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-semibold.svg#aileron-semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-semibold-italic.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-semibold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-semibold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-semibold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-semibold-italic.svg#aileron-semibold-italic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-bold.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-bold.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-bold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-bold.svg#aileron-bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-bold-italic.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-bold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-bold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-bold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-bold-italic.svg#aileron-bold-italic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-heavy.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-heavy.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-heavy.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-heavy.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-heavy.svg#aileron-heavy') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-heavy-italic.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-heavy-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-heavy-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-heavy-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-heavy-italic.svg#aileron-heavy-italic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-black.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-black.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-black.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-black.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-black.svg#aileron-black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Aileron';
  src: url('#{$assets-path}/fonts/aileron/aileron-black-italic.eot');
  src: url('#{$assets-path}/fonts/aileron/aileron-black-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/aileron/aileron-black-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/aileron/aileron-black-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/aileron/aileron-black-italic.svg#aileron-black-italic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

