@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-light.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-light.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-light.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-light.svg#montserrat-light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-lightitalic.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-lightitalic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-lightitalic.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-lightitalic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-lightitalic.svg#montserrat-lightitalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-regular.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-regular.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-regular.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-regular.svg#montserrat-regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-italic.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-italic.svg#montserrat-italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-medium.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-medium.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-medium.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-medium.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-medium.svg#montserrat-medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-mediumitalic.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-mediumitalic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-mediumitalic.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-mediumitalic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-mediumitalic.svg#montserrat-mediumitalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-semibold.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-semibold.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-semibold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-semibold.svg#montserrat-semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-semibolditalic.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-semibolditalic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-semibolditalic.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-semibolditalic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-semibolditalic.svg#montserrat-semibolditalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-bold.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-bold.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-bold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-bold.svg#montserrat-bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-bolditalic.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-bolditalic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-bolditalic.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-bolditalic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-bolditalic.svg#montserrat-bolditalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-extrabold.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-extrabold.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-extrabold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-extrabold.svg#montserrat-extrabold') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Montserrat';
  src: url('#{$assets-path}/fonts/montserrat/montserrat-extrabolditalic.eot');
  src: url('#{$assets-path}/fonts/montserrat/montserrat-extrabolditalic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-extrabolditalic.woff') format('woff'),
       url('#{$assets-path}/fonts/montserrat/montserrat-extrabolditalic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/montserrat/montserrat-extrabolditalic.svg#montserrat-extrabolditalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}
