@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-light.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-light.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-light.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-light.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-light.svg#nunitosans-light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-light-italic.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-light-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-light-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-light-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-light-italic.svg#nunitosans-light-italic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-regular.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-regular.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-regular.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-regular.svg#nunitosans-regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-italic.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-italic.svg#nunitosans-italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold.svg#nunitosans-semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold-italic.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-semibold-italic.svg#nunitosans-semibold-italic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold.svg#opensans-bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold-italic.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-bold-italic.svg#nunitosans-bold-italic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-black.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-black.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-black.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-black.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-black.svg#nunitosans-black') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-black-italic.eot');
  src: url('#{$assets-path}/fonts/nunito-sans/nunitosans-black-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-black-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-black-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/nunito-sans/nunitosans-black-italic.svg#nunitosans-black-italic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

