@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-light.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-light.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-light.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-light.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-light.svg#poppins-light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-light-italic.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-light-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-light-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-light-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-light-italic.svg#poppins-light-italic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-regular.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-regular.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-regular.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-regular.svg#poppins-regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-italic.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-italic.svg#poppins-italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-medium.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-medium.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-medium.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-medium.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-medium.svg#poppins-medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-medium-italic.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-medium-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-medium-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-medium-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-medium-italic.svg#poppins-medium-italic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-semibold.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-semibold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-semibold.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-semibold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-semibold.svg#poppins-semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-semibold-italic.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-semibold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-semibold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-semibold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-semibold-italic.svg#poppins-semibold-italic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-bold.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-bold.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-bold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-bold.svg#poppins-bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-bold-italic.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-bold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-bold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-bold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-bold-italic.svg#poppins-bold-italic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-extrabold.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-extrabold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-extrabold.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-extrabold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-extrabold.svg#poppins-extrabold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-extrabold-italic.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-extrabold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-extrabold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-extrabold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-extrabold-italic.svg#poppins-heavy-italic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-black.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-black.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-black.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-black.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-black.svg#poppins-black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Poppins';
  src: url('#{$assets-path}/fonts/poppins/poppins-black-italic.eot');
  src: url('#{$assets-path}/fonts/poppins/poppins-black-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/poppins/poppins-black-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/poppins/poppins-black-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/poppins/poppins-black-italic.svg#poppins-black-italic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

