@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-light.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-light.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-light.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-light.svg#sourcesanspro-light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-light-italic.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-light-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-light-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-light-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-light-italic.svg#sourcesanspro-light-italic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-regular.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-regular.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-regular.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-regular.svg#sourcesanspro-regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-italic.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-italic.svg#sourcesanspro-italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold.svg#sourcesanspro-semibold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold-italic.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-semibold-italic.svg#sourcesanspro-semibold-italic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold.svg#opensans-bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold-italic.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-bold-italic.svg#sourcesanspro-bold-italic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-black.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-black.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-black.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-black.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-black.svg#sourcesanspro-black') format('svg');
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

@font-face {
  font-family: 'Source Sans';
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-black-italic.eot');
  src: url('#{$assets-path}/fonts/source-sans/sourcesanspro-black-italic.eot?#iefix') format('embedded-opentype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-black-italic.woff') format('woff'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-black-italic.ttf') format('truetype'),
       url('#{$assets-path}/fonts/source-sans/sourcesanspro-black-italic.svg#sourcesanspro-black-italic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-2074;
}

